.container {
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.title {
  margin-bottom: 20px;
  color: #2c3e50;
}

.searchInput {
  margin-bottom: 20px;
}

.userTable {
  background-color: white;
}

.paginationContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationBtn {
  padding: 8px 12px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid #3498db;
}

.prevBtn {
  background-color: #3498db;
  color: white;
  border: 1px solid #3498db;
}

.nextBtn {
  background-color: #3498db;
  color: white;
  border: 1px solid #3498db;
}

.active {
  background-color: #3498db;
  color: white;
  border: 2px solid #3498db; /* Added border for active page */
}

.disabled {
  cursor: not-allowed;
  background-color: #ecf0f1;
  color: #bdc3c7;
  border: 1px solid #bdc3c7;
}
